{% extends "base.html" %}
{% block title %}About Us - Legion GIS{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>background</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-8">
    <div class="section-header">
        <span>technology</span>
    </div>
    <p>We have a firm foundation in the ArcGIS software suite, as well as many of the most commonly used open source and web-GIS software alternatives. Quantum GIS, GeoServer, PostGIS, Open Layers 3, Leaflet, and Python are all firmly stowed in our toolbox. We also excel at historical research and data migration: finding, converting, and utilizing information from the depths of your institution or from your local government archives.</p>
    <div class="section-header">
        <span>personnel</span>
    </div>
    <div class="row personnel-row">
        <div class="col-xs-2 headshot col-flush">
            <img src="theme/img/ac_headshot.jpg"></img>
        </div>
        <div class="col-xs-10">
            <p><strong>Adam Cox</strong> holds a B.A. in Anthropology from Lawrence University, in Appleton, Wisconsin, and has worked in the GIS field since 2011. Beginning in cultural resource management and historic presevation, he continues to find himself in a growing variety of geospatial applications&mdash;from environmental advocacy to web-based spatial databases. In his free time, he pores over old maps and goes exploring.</p>
            <p><a id="adam-email"></a> | <a href="https://www.linkedin.com/in/mradamcox">LinkedIn</a>
        </div>
    </div>
    <div class="row personnel-row">
        <div class="col-xs-2 headshot col-flush">
            <img src="theme/img/bw_profile.jpg"></img>
        </div>
        <div class="col-xs-10">
            <p><strong>Billy Williamson</strong> is finishing a B.S. in Information Technology at Southeastern Louisiana University in Hammond, Louisiana. Working with various technologies, he has been building web and mobile applications since 2013, most notably web and system administration tools for GIS applications. When not at his desk, Billy enjoys spending time with his family, playing music, and fishing.</p>
            <p><a id="billy-email"></a> | <a href="https://www.linkedin.com/in/billy-williamson-bedubs/">LinkedIn</a>
        </div>
    </div>
    <div class="row personnel-row">
        <div class="col-xs-2 headshot col-flush">
            <img src="theme/img/liz_headshot.jpg"></img>
        </div>
        <div class="col-xs-10">
            <p><strong>Liz Franklin</strong> is our office manager, and keeps things running smoothly on the home front.</p>
            <p><a id="liz-email"></a> | <a href="https://www.linkedin.com/in/liz-franklin-8272905b/">LinkedIn</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div id="clients" class="col-xs-12 client-list-box">
        <h4 style="text-align:center;">some of our clients...</h4>
        {% for link,img in CLIENTS %}
        <div class="client-list">
            <a href="{{ link }}"><img src="{{ img }}"></img></a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var a1 = "adam";
    var b1 = "billy";
    var l1 = "liz";
    var g2 = "@";
    var g3 = "legiongis.com";
    var adam = a1+g2+g3;
    var billy = b1+g2+g3;
    var liz = l1+g2+g3;
    $(document).ready(function() {
        document.getElementById('adam-email').textContent = adam;
        document.getElementById('adam-email').href = "mailto:"+adam;
        document.getElementById('billy-email').textContent = billy;
        document.getElementById('billy-email').href = "mailto:"+billy;
        document.getElementById('liz-email').textContent = liz;
        document.getElementById('liz-email').href = "mailto:"+liz;
    });
</script>
{% endblock %}
