{% extends "base.html" %}
{% block title %}background - Legion GIS{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>background</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-8">
    <div class="section-header">
        <span>technology</span>
    </div>
    <p>We have a firm foundation in the ArcGIS software suite, but in recent years have become proficient with many open source and web-GIS software alternatives. Quantum GIS, GIMP, GDAL, GeoServer, OpenLayers 3, and Python are all firmly stowed in our toolbox. We also excel at research and data migration: finding, converting, and utilizing information from the depths of your institution or from your musty local government archives.</p>
    <div class="section-header">
        <span>personnel</span>
    </div>
    <div class="col-xs-2 headshot col-flush">
        <img src="{{ S3URL }}/img/ac_headshot.jpg"></img>
    </div>
    <div class="col-xs-10">
        <p>Adam Cox holds a BA in Anthropology from Lawrence University, in Appleton, Wisconsin. He has worked with GIS since 2011, beginning in cultural resource management and historic preservation, but finding work in many different fields--from hazard mitigation planning to co-teaching software classes. In his free time, he pores over old maps and gazes adoringly at remnants of old roads.</p>
        <p><a id="adam-email"></a> | <a href="https://www.linkedin.com/in/mradamcox">LinkedIn</a> | <a href="http://www.adamcfcox.com">personal site</a></p>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div id="clients" class="col-xs-12 client-list-box">
        <h4 style="text-align:center;">our clients</h4>
        {% for link,img in CLIENTS %}
        <div class="client-list">
            <a href="{{ link }}"><img src="{{ img }}"></img></a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var a1 = "adam";
    var g2 = "@";
    var g3 = "legiongis.com";
    var adam = a1+g2+g3;
    $(document).ready(function() {
        document.getElementById('adam-email').textContent = adam;
        document.getElementById('adam-email').href = "mailto:"+adam;
    });
</script>
{% endblock %}
