{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<p><a href="{{ SITEURL }}/services.html"><em>&lsaquo; back to services</em></a></p>
<div class="col-xs-12">
    <div class="section-header">
        <span>map gallery</span>
    </div>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <p>We create functional and aesthetically pleasing maps on demand, whether for a professional report, an upcoming event, or historic research. Check out the gallery below to see some examples of cartographic products made by Legion GIS staff.</p>
    <hr class="hr-slight">
    <p style="padding-bottom:5px;"><em>Click on any map below to open the gallery.</em></p>
</div>
<div class="col-xs-12">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <p class="description"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <div id="links">
        {% for src, thumb, note in MAP_GALLERY %}
            <a href="{{src}}" data-description="{{note}}">
                <img src="{{thumb}}" alt="">
            </a>
        {% endfor %}
    </div>
</div>
<script src="{{ SITEURL }}/theme/plugins/Gallery-2.21.3/js/blueimp-gallery.min.js"></script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event, titleElement: 'h',},
        options = {
          index: link, event: event,
          onslide: function (index, slide) {

            self = this;
            var initializeAdditional = function (index, data, klass, self) {
              var text = self.list[index].getAttribute(data),
                node = self.container.find(klass);
              node.empty();
              if (text) {
                node[0].appendChild(document.createTextNode(text));
              }
            };
            initializeAdditional(index, 'data-description', '.description', self);
          }
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
{% endblock %}
