{% extends "base.html" %}
{% block title %}Legion GIS, LLC{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1 style="font-family:'Racing Sans One';font-weight:200;">LEGION GIS, LLC</h1>
            <p class="blurb"><em>{{ SITESUBTITLE }}</em></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="col-xs-12 col-sm-8">
    <div class="section-header">
        <span>what we do</span>
    </div>
    <p>Legion GIS, LLC is a small consulting firm specializing in Geographic Information Systems. Though a young company, we have already worked on a wide variety of geospatial applications with clients from different backgrounds. We excel in working closely with our clients and partners, and relish new challenges. We have produced professional cartographic products, created ArcGIS toolboxes, designed spatial databases, and led GIS-focused outreach and education efforts. We also offer webmap hosting, and are one of few companies offering full development and hosting services for the Arches inventory platform.</p>
</div>
<div class="hidden-xs col-sm-4">
    {% include 'quick-links.html' %}
</div>
<div class="col-xs-12">
    <div class="section-header">
        <span>get in touch</span>
    </div>
</div>
<div class="col-xs-12">
    <p>Questions about what we can do for you? Feel free to call or send us a message. Also, if you are interested in working on the types of projects you see here, don't hesitate to send us your résumé. Get in touch at <a id="contact-email"></a>, or give us a call: 608-606-9928.</p>
</div>
<div class="col-xs-12">
    <div class="section-header">
        <span>recent news</span>
    </div>
</div>
<div class="col-xs-12 col-sm-8">
    {% for article in dates[:2] %}
    <div class="article-summary">
        <h5 class="article-summary-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="{{ article.title | striptags }}">{{ article.title }}</a>
        </h5>
        <p class="date-line">{{ article.locale_date }}, by {{ article.author }}</p>
        <p class="article-summary-text" style="padding-left:15px">{{ article.summary[:-8] | striptags }}... <a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="{{ article.title | striptags }}"><em>read more</em></a></p>
    </div>
    {% endfor %}
    
</div>
<div class="col-xs-12 col-sm-4">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//legiongis.us13.list-manage.com/subscribe/post?u=8cd0850e106b744b6dd3ddde4&amp;id=9ea6be86e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding:0px" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group" style="padding-bottom:0px;">
                    <label for="mce-EMAIL">subscribe</label>
                    <input type="email" placeholder="e-mail address" name="EMAIL" class="required email" id="mce-EMAIL" style="width:250">
                
                    <div class="mc-field-group input-group">
                        <ul style="margin-bottom:3px !important;padding-top:0px;">
                            <li>
                                <input type="checkbox" value="1" name="group[2253][1]" id="mce-group[2253]-2253-0">
                                <label for="mce-group[2253]-2253-0" style="font-weight:normal;font-size:10pt;"><em>&nbsp;&nbsp;I'm only interested in Arches-related posts</em></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cd0850e106b744b6dd3ddde4_9ea6be86e6" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>
</div>
<script>
var c1 = "info";
var c2 = "@";
var c3 = "legiongis.com";
var email = c1+c2+c3
$(document).ready(function() {
    document.getElementById('contact-email').textContent = email;
    document.getElementById('contact-email').href = "mailto:"+email;
});
</script>
{% endblock content %}

<!-- END CONTENT -->
