{% extends "base.html" %}
{% block title %}Legion GIS, LLC{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1 style="font-family:'Racing Sans One';font-weight:200;">LEGION GIS, LLC</h1>
            <p class="blurb"><em>{{ SITESUBTITLE }}</em></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="col-xs-12 col-sm-8">
    <div class="section-header">
        <span>what we do</span>
    </div>
    <p>Legion GIS, LLC is a small consulting firm specializing in Geographic Information Systems. We work on a wide variety of geospatial applications with clients from different backgrounds. We excel in working closely with our clients and partners, and relish new challenges. We have produced professional cartographic products, created ArcGIS toolboxes, designed spatial databases, and led GIS-focused outreach and education efforts. We also offer webmap hosting, and are one of few companies offering full development and hosting services for the Arches inventory platform.</p>
    <div class="section-header">
        <span>get in touch</span>
    </div>
    <p>Questions about what we can do for you? Feel free to call or send us a message. Also, if you are interested in working on the types of projects you see here, don't hesitate to send us your résumé. Get in touch at <a id="contact-email"></a>, or give us a call: 608-606-9928.</p>
    <!--
    <div class="section-header">
        <span>recent news</span>
    </div>
    
    {% for article in dates[:2] %}
    <div class="article-summary">
        <h5 class="article-summary-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="{{ article.title | striptags }}">{{ article.title }}</a>
        </h5>
        <p class="date-line">{{ article.locale_date }}, by {{ article.author }}</p>
        <p class="article-summary-text" style="padding-left:15px">{{ article.summary[:-8] | striptags }}... <a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="{{ article.title | striptags }}"><em>read more</em></a></p>
    </div>
    {% endfor %}
    -->
</div>
<div class="hidden-xs col-sm-4">
    {% include 'side-bar.html' %}
</div>
<script>
var c1 = "info";
var c2 = "@";
var c3 = "legiongis.com";
var email = c1+c2+c3
$(document).ready(function() {
    document.getElementById('contact-email').textContent = email;
    document.getElementById('contact-email').href = "mailto:"+email;
});
</script>
{% endblock content %}

<!-- END CONTENT -->
