{% extends "base.html" %}
{% block title %}sevices - Legion GIS{%endblock%}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>services</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-8" style="margin-bottom:20px;">
    <div class="section-header">
        <span>cartography</span>
    </div>
    <p>We have extensive experience creating professional cartographic products for reports, brochures, and anything in between. View samples of our cartographic work <a href="{{SITEURL}}/cartographic-services.html">here</a>.</p>
    <div class="section-header">
        <span>GIS development</span>
    </div>
    <p>Perhaps you need to publish new survey results on a web map, or create a spatial database of plots in a cemetery. Maybe your organization could benefit from some custom tools to incorporate into your ArcGIS workflow. We have experience with all of these things, and would be happy to help you out.</p>
    <div class="section-header">
        <span>Arches support and hosting</span>
    </div>
    <p>As one of the main companies offering comprehensive development and support for the Arches inventory platform, we are happy to work with your organization during the deployment process, or even take care of hosting the entire system for you. Visit the <a href="{{SITEURL}}/arches-services.html">Arches services page</a> for more information.</p>
    <div class="section-header">
        <span>education</span>
    </div>
    <p>We can help your organization with training in the use of GIS mapping software (QGIS or ArcGIS), or we can facilitate <a href="{{SITEURL}}/introduction-to-gis-course.html">a basic introduction course</a>. We also love sharing knowledge, so to learn more about anything on our site you need only get in touch.</p>
</div>
<div class="col-xs-12 col-sm-4">
    {% include 'quick-links.html' %}
</div>
{% endblock %}
