{% extends "base.html" %}
{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
                <h1>articles tagged with '{{ tag }}'</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

{% block content_title %}
{% endblock %}

{% set cnt = 0 %}
<div style="margin-bottom:20px;">
    <p><a href="{{ SITEURL }}/blog.html"><em>&lsaquo; back to blog</em></a></p>
</div>
{% for article in articles_page.object_list %}
        <div class="sec-article">
            <div class="read-more">{{ article.locale_date}}</div>
            <h3><a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark>{{ article.title }}</a></h3>
            <p>
            {{ article.summary[:-8] | striptags }}... <a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="{{ article.title | striptags }}"><em>read more</em></a>           
            </p>
        </div>
{% endfor %}
{% if articles_page.has_other_pages() %}
<div class="pagination-block">
    {% include 'pagination.html' %}
</div>
{% endif %}

{% endblock content %}
<!-- END CONTENT -->

