body,p,div, ul li, ol li, td {
  font-family:"Lato",sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  /*font-family: 'Racing Sans One', cursive;*/
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  color: #3B3B3B;
}

a { 
  text-decoration: none;
  color: #637486;
    font-weight:600;
}

a:hover {
  color: #334150;
}

div#title-block H1 {
    font-size: 6em;
    font-weight: 900;
    text-shadow: 2px 2px 10px #000;
    margin-bottom: 0px;
    color: white;
}

img {
    max-width: 100%;
}

.links {
    list-style:none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #B73709;
    color: white;
    left: -5px;
}

.recent-news-header {
    text-align: center;
}

.article-summary {
    background-color: #eee;
    margin-bottom: 0.8em;
    padding: 3px 5px;
    border-radius: 5px;
}

.article-summary-text {
    font-size: .9em;
}

.article-summary-title {
    margin-bottom: 3px;
}

.date-line {
    font-size: 0.8em;
    font-style: italic;
}

.headshot {
    text-align: right;
}

.headshot img {
    width: 100%;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
}

.client-list-box {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
}

.client-list {
    margin: 5px;
    text-align: center;
    display: inline;
}

@media screen and (max-width: 768px) {
    .client-list {
        display: inline;
    }
}



.client-list img {
    max-width:100%;
    height:auto;
    max-height: 75px;
    min-width: 40px;
    padding-bottom: 15px;
}

/* this stuff should keeps the footer on the bottom of the page */
html, body {
	margin:0;
	padding:0;
	height:100%;
}

body { 
    display: table; 
    width: 100%; 
    height: 100%;
    /*background:url('https://s3-us-west-2.amazonaws.com/legiongis.com/img/kvr_background_wide.png') no-repeat center center fixed;
    background-size:cover;*/
}


.wrapper {
	min-height:100%;
	position:relative;
}
.header {
	background:#ededed;
	padding:10px;
}
.content {
    height:auto;
    width:100%;
}

.main-container {
    padding: 0px;
    width: 100%;
}

.col-flush {
    padding-right: 0px;
    padding-left: 0px;
}

.footer {
    display:table-row;
    height: 1px;
    background-color: #637486;
    color: #FFF;
    padding: 10px;
}

.footer p {
    font-size: 8pt;
}

.footer p a {
    font-weight: 400;
}

.footer-article {
    padding-botton:10px;
}

/* slider gallery stuff */
.thumbnails img {
    height: 80px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    border: 1px solid rgba(0,0,0,.15);
    cursor:pointer;
}

.preview img {
    border: 1px solid rgba(0,0,0,.15);
    padding: 1px;
    width: 600px;
}

.arches-project-image img {
    width: 100%;
    max-height: 100%;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 1px;
    margin-top: 8px;
}

.arches-project-row {
    padding-top: 15px;
}

.service-summary {
    text-align: center;
    background-color: #eee;
    padding: 1em;
    border-radius: 5px;
    min-height: 200px;
}

pre, ol, ul {
    margin-bottom: 1em !important;
}

#mc_embed_signup{
    background:#fff;
    clear:left;
    font:14px "Lato",sans-serif;

}

.mc-field-group {
    padding-bottom:3px !important;
}

#mc_embed_signup .button {
    font-family: "Lato",sans-serif;
    font-weight: bold;
}

.hp-header {
  display:table;
  width:100%;
  /*height:55%;*/
  height:115px;
  /*max-height: 55px;*/
  position:relative;
  background:url('https://s3-us-west-2.amazonaws.com/legiongis.com/img/kvr_background_wide.png') no-repeat center center fixed;
  background-size:cover;

}

.hp-header-inner {
  display:table;
  width:100%;
  /*height:30%;*/
  height:115px;
  position:relative;
  background:url('https://s3-us-west-2.amazonaws.com/legiongis.com/img/kvr_background_wide.png') no-repeat center center fixed;
  background-size:cover;

}

.hp-header-inner  #title-block h1 {
  font-family: 'Roboto Slab';
  font-size:3em;
  color:white;
  text-align:center
}

/* Navbar */

.pages {
    background-color: #637486;
    color: white;
}

.pages ul {
  list-style-type: none;
  margin: 0px;
}

.pages ul li {
  display: inline-block;
  padding: 5px 15px;
}
/*
.pages ul li:nth-child(1) {
  font-size: 1.4em;
}
*/
.pages ul li a {
    color: white;
    font-weight: 400;
    text-transform: lowercase;
    font-family: 'roboto slab';
    font-size: 14pt;
    
}

.pages ul li.active {
  background-color: #334150;
  border:none;
}

.hr-slight {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-header {
    width: 100%;
    text-align: left;
    border-bottom: 2px dotted #b8b8b8;
    line-height: 0.1em;
    margin: 20px 0px 15px;
    font-size: 18px;
    font-weight: 500;
}

.section-header span {
    background: #fff;
    padding-right: 10px;
    font-weight: 600;
}

/* some custom stuff for the map image gallery */

.blueimp-gallery {
  /*background: #333 !important;*/
}

.blueimp-gallery > .description {
  position: absolute;
  top: 45px;
  left: 15px;
  color: #fff;
  width:175px;
  display: none;
  width: 175px;
  text-shadow: 1px 1px #080808;
  background: #637486;
  padding: 5px;
  border-radius: 5px
}
.blueimp-gallery-controls > .description {
  display: block;
}

.quick-link-list {
}

.quick-link-list li {
    /*list-style-type: none;*/
}
