<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <!-- local CSS -->
    <link rel="stylesheet" href="theme/css/overlay-map.css" type="text/css">
    
    <!-- OpenLayers JS -->
    <script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
    <!-- OpenLayers CSS -->
    <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">

</head>
<body>
    <div class="container-fluid" style="background-color:#aaa; padding-left:0px; padding-right:0px;border:black solid 2px">
        <div class="row">
            <div class="col-xs-12">
                <div class="map-bar">
                    <ul id="bmlist" class="bar topbar">
                        <li class="rowhead toprow"><b>BASEMAP</b></li>
                        <li><button id="hillshade" class="layer wide bm" class="selected">hillshade</button></li>
                        <li><button id="slope" class="layer wide bm">slope</button></li>
                        <li><button id="blank" class="layer bm"><em>blank</em></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="map-bar">
                    <ul id="overlist" class="bar">
                        <li class="rowhead"><b>SINKS</b></li>
                        <li><button id="frac" class="layer hm">fracture lines</button></li>
                        <li><button id="blank" class="layer hm"><em>none</em></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="map" class="map"></div>
            </div>
            <div class="col-xs-12">
                <div class="info-box" id="info1" style="display:none">
                    <strong><span style="color:green">green are confirmed</span><br>
                    <span style="color:#ff0000">red are not sinkholes</span><br>
                    <span style="color:#0000ff">blue are questionable</span><br>
                    <span style="color:#bda691">tan have not yet been checked</span><br>
                    black are excluded (fall within 30ft of a road centerline or within a flood zone)</strong>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="info-box" id="info2" style="display:none">
                    The hillshade and slope layers are derived from 5-foot resolution LiDAR data. Hillshade is a rendering technique that simulates shade cast by a light-source, in this case coming from the northwest. Slope shows a black/white gradient based on the steepness of the terrain.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="footbar">
                    <button id="toggleinfo1" class="lite">show legend</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="toggleinfo2" class="lite">show basemap info</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{SITEURL}}/theme/js/crawford-fracture-line-display.js" type="text/javascript"></script>
</body>